<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://github.com/YunussEmree.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
            <div class="card-body">
              <p class="card-text"><strong>Yunus Emre Şenyiğit</strong></p>
              <p class="card-text">Aktif teknoloji makale yazarı, Yazılım Mühendisi, Java sevdalısı</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
                </div>
                <small class="rating" style="color: #2ab047;">★4.86</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://github.com/engindemirog.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
            <div class="card-body">
              <p class="card-text"><strong>Engin Demiroğ</strong></p>
              <p class="card-text">Instructor & Lifetime learner.
                Software Engineer
                www.kodlama.io</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
                </div>
                <small class="rating" style="color: #d11313;">★1.54</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img src="https://github.com/atilsamancioglu.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
              <div class="card-body">
            <p class="card-text"><strong>Atıl Samancıoğlu</strong></p>
            <p class="card-text">Bestselling Instructor &#64;udemy || Instructor &#64;unibogazici || Ceo &#64;academyclubtr
              </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
              </div>
            <small class="rating" style="color: #c98d14;">★3.96</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img src="https://github.com/sahinyanlik.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
              <div class="card-body">
            <p class="card-text"><strong>Şahin Yanlık</strong></p>
            <p class="card-text">Software Developer, Blogger, Open Source Enthusiast</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
              </div>
            <small class="rating" style="color: #2ab047;">★4.75</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img src="https://github.com/omergulcicek.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
              <div class="card-body">
            <p class="card-text"><strong>Ömer Gülçiçek</strong></p>
            <p class="card-text">Frontend Developer, Blogger, Speaker</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
              </div>
            <small class="rating" style="color: #d2d918;">★2.60</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img src="https://github.com/ibrahimgunduz.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
              <div class="card-body">
            <p class="card-text"><strong>İbrahim Gündüz</strong></p>
            <p class="card-text">Full Stack Developer, Tech Enthusiast</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
              </div>
            <small class="rating" style="color: #c98d14;">★3.50</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img src="https://github.com/aykutkardas.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
              <div class="card-body">
            <p class="card-text"><strong>Aykut Kardaş</strong></p>
            <p class="card-text">Software Engineer, Open Source Contributor</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
              </div>
            <small class="rating" style="color: #d2d918;">★2.40</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img src="https://github.com/ahmetozantekin.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
              <div class="card-body">
            <p class="card-text"><strong>Ahmet Ozan Tekin</strong></p>
            <p class="card-text">Backend Developer, Tech Writer</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
              </div>
            <small class="rating" style="color: #d11313;">★1.30</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
              <img src="https://github.com/serkansokmen.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
              <div class="card-body">
            <p class="card-text"><strong>Serkan Sökmen</strong></p>
            <p class="card-text">DevOps Engineer, Cloud Enthusiast</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
              </div>
            <small class="rating" style="color: #c98d14;">★3.10</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img src="https://github.com/LuNiZz.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
              <div class="card-body">
            <p class="card-text"><strong>Can Değer</strong></p>
            <p class="card-text">Beyaz Takkeli Tornaci 👋 Can Deger https://www.youtube.com/&#64;candeger
              </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
              </div>
            <small class="rating" style="color: #d11313;">★1.35</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <img src="https://github.com/addyosmani.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
            <div class="card-body">
                <p class="card-text"><strong>Addy Osmani</strong></p>
                <p class="card-text">Engineering Manager at Google working on Chrome</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
                </div>
                <small class="rating" style="color: #2ab047;">★4.85</small>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <img src="https://github.com/una.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
            <div class="card-body">
                <p class="card-text"><strong>Una Kravets</strong></p>
                <p class="card-text">Developer Advocate at Google, CSS & SVG enthusiast</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
                </div>
                <small class="rating" style="color: #d2d918;">★2.80</small>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <img src="https://github.com/emmabostian.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
            <div class="card-body">
                <p class="card-text"><strong>Emma Bostian</strong></p>
                <p class="card-text">Software Engineer at Spotify, Co-host of the Ladybug Podcast</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
                </div>
                <small class="rating" style="color: #2ab047;">★4.75</small>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <img src="https://github.com/ladyleet.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
            <div class="card-body">
                <p class="card-text"><strong>Tracy Lee</strong></p>
                <p class="card-text">CEO at This Dot Labs, Google Developer Expert</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
                </div>
                <small class="rating" style="color: #2ab047;">★4.85</small>
                </div>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
            <img src="https://github.com/charliewen.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
            <div class="card-body">
                <p class="card-text"><strong>Charlie Wen</strong></p>
                <p class="card-text">Software Engineer at Facebook, Open Source Contributor</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>  
                </div>
                <small class="rating" style="color: #d2d918;">★2.80</small>
                </div>
            </div>
            </div>
        </div>
    </div>

        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
            </nav>
        </div>

    </div>
  </div>