


<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <div class="col-md-1">
        <a href="/home" class="nav-link px-2 link-primary"> <strong>ArticlePortal</strong></a>
      </div>

      <div class="col-md-3 mb-2 mb-md-0">
          <form class="col-lg-auto mb-3 mb-lg-0 me-lg-3 order-lg-1 justify-content-center" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search"  name="search" [(ngModel)]="filterText">
          </form>
        </div>


      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/articles" class="nav-link px-2 link-body-emphasis">Articles</a></li>
        <li><a href="/writers" class="nav-link px-2 link-body-emphasis">Writers</a></li>
      </ul>
      <ul class="navbar-nav px-3 col-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-2 link-body-emphasis" href="/login" *ngIf="isLoggedIn()==false">Login</a></li>
      </ul>

      <div class="dropdown text-end" *ngIf="isLoggedIn()==true">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/YunussEmree.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">New article...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" (click)="logout()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>






<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        <div class="col" *ngFor="let writer of writers | writerfilter:filterText">
          <div class="card shadow-sm">
            <img [src]="writer.photo" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Profile Photo">
            <div class="card-body">
              <p class="card-text"><strong> {{ writer.username }} </strong></p>
              <p class="card-text">{{ writer.about }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="/viewwriter/{{writer.id}}" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
                <small class="rating" style="color: #2ab047;">★ {{ writer.rating }}</small>
              </div>
            </div>
          </div>
        </div>
    </div>

        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
            </nav>
        </div>

    </div>
  </div>


  <router-outlet />